body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
    /* height: 100vh; */
  }
  
  /* canvas { */
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
   
  /* } */ 

  #container {
    max-width: 50em;
    position: relative;
    /* height: 100vh; */
    background-color: #f4f5f0;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .22fr .56fr .22fr;
    grid-template-areas: "top-left top-center top-right"
                          "game-left game game-right"
                          "btm-left btm-center btm-right";
    font-family:  'Monoton', cursive;
}

.chefNames {
  margin: 5px auto;
  font-size: 20px;;
}

.bake-button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 100px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  border-radius: 10px;
}

.advance-button {
  height: 40px;
  width: 175px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  border-radius: 10px;
}

.game-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 10px;
}

#start-button{
  margin: 5px auto;

}

#pizza-chef-1, #pizza-chef-2 {
  display: block;
}

.ingredient-button{
  margin: 5px auto;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  background-size: 100%;
}

#player-one-score, #player-two-score {
  color: #f4f5f0;
  font-family: 'Monoton', cursive;
}

#timer, #pizza-type {
  font-family: 'Monoton', cursive;
}

#top-left, #top-right, #btm-left, #btm-right, #game, #game-left, #game-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #game, #game-left, #game-right {
    background-color: #FFCE6E;
 
  }

  #top-left {
    grid-area: top-left;
    background-color: #008c45;
  }

  #top-center {
    grid-area: top-center;
    font-family: 'Monoton', cursive;
    font-size: 28px;
}
  
  #top-right {
    grid-area: top-right;
    background-color: #cd212a;

  }

  #game-left {
    grid-area: game-left;
  }

  main {
    grid-area: game;
    width: 100%;
    height: 450px;

  }

  #game-right {
    grid-area: game-right;
  }

  
  #btm-left {
    grid-area: btm-left;

  }
  
  #btm-center {
    grid-area: btm-center;
 
  }

  #btm-right {
    grid-area: btm-right;

  }

  #intro-title{
      display: block;
  }

  #button {
      display: block;
  }